header { /* header paired with nav */
  text-align: left;
  background-color: #3F403F;
  margin: 0;
  padding: 0;
}

.fa { /* for all four logos (portfolio, LinkedIn, GitHub, Slack) */
  color: white;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

nav { /* contains all logos and links to my social media */
  background-color: #B07156;
  text-align: right;
}

.phrase { */Design, Develop, Deliver ; possibly make the font smaller or use different font-family */
  background-color: #F4F5F4;
  text-align: center;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  color: #3C91E6;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border: none;
}

body {
  height: auto;
}

main {
  text-align: center;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  color: #696969;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

article {
  text-align: center;
}

footer {
  color: white;
  text-align: center;
  background-color: #3F403F;
}
